.button-container {
    display: flex;
    justify-content: space-around;
  }
  .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
  }
  .button:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: #4CAF50;
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }